/* Forms */

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-right: $form-control-padding-right;
  border: $form-control-border-width solid $form-control-border-color;
  border-radius: $form-control-border-radius;

  &:focus-within {
    padding-right: calc($form-control-padding-right - 1px);
    border-width: $form-control-focus-border-width;
    border-color: $form-control-focus-border-color;

    .form__control {
      height: calc($input-height - $form-control-focus-border-width);
      padding: calc($input-padding-y - 1px) calc($input-padding-y - 1px);
    }
  }

  &.is-valid {
    border-color: $green600;
  }

  &.is-invalid {
    border-color: $red600;
  }

  &.is-valid,
  &.is-invalid {
    padding-right: calc($form-control-padding-right - 1px);
    border-width: $form-control-focus-border-width;

    .form__control {
      height: calc($input-height - $form-control-focus-border-width);
      padding: calc($input-padding-y - 1px) calc($input-padding-y - 1px);
    }
  }

  &__addon {
    display: flex;
    align-items: center;
  }
}

.form__control {
  display: block;
  position: relative;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-y;
  border: none;
  border-radius: $form-control-border-radius;
  font-size: $form-control-font-size;
  line-height: $form-control-text-line-height;
  color: $input-color;
  outline: none;
  z-index: $form-control-zindex;
}

.form-group {
  width: 100%;
  position: relative;
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: $form-label-font-size;
  line-height: $form-label-font-line-height;
  color: $form-label-color;
}

.valid-feedback,
.invalid-feedback {
  .message {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 2px;
    margin-top: 4px;
  }
}
.valid-feedback {
  .message {
    color: $green600;
  }
  .icon {
    --#{$prefix}icon-color: #{$green600};
  }
}

.invalid-feddback {
  .message {
    color: $red600;
  }

  .icon {
    --#{$prefix}icon-color: #{$red600};
  }
}

.form__check-input {
  width: $form-check-width;
  height: $form-check-height;
  background-color: $form-check-input-bg;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-width: $form-check-border-width;
  border-style: $form-check-border-style;
  border-color: $form-check-border-color;
  border-radius: $form-check-border-radius;
  vertical-align: top;
  transition: $form-check-transition;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked {
    background-color: $form-check-checked-bg;
    border-color: $form-check-checked-bg;

    &[type='checkbox'] {
      background-image: $form-check-input-checked-bg-image;
    }
  }

  &:disabled {
    background-color: $form-check-disabled-input-bg;
    border-color: $form-check-disabled-border-color;
    pointer-events: none;
    filter: none;

    &:checked {
      background-color: $form-check-disabled-input-bg;

      &[type='checkbox'] {
        background-image: $form-check-input-checked-bg-image;
      }
    }
  }
}
