/* Generate */

// Utilities Class generate
@each $key, $value in $utilities {
  $property: map-get($value, property);
  $values: map-get($value, values);
  $property-class: if(map-has-key($value, 'class'), map-get($value, 'class'), null);

  @include generate-utility($property, $values, $property-class);
}

// Badge Class generate
@each $state, $value in $badges {
  .badge--#{$state} {
    @include generate-badge($name: $state, $badge-bg: $value);
  }
  .badge__outline--#{$state} {
    @include generate-outline-badges($name: $state, $badge-color: $value);
  }
}

// Button Class generate
@each $key, $args in $buttons {
  .btn--#{$key} {
    @include generate-button($args...);
  }
}

// Icon Class generate
@include generate-icon($icons);
