/* Layouts */

// Sidebar
.sidebar {
  --#{$prefix}sidebar-width: #{$layout-sidebar-width};
  --#{$prefix}sidebar-padding-x: 0;
  --#{$prefix}sidebar-padding-y: 0;
  --#{$prefix}sidebar-bg: #{$white};
  --#{$prefix}sidebar-border-width: 2px;
  --#{$prefix}sidebar-border-style: solid;
  --#{$prefix}sidebar-border-color: #{$gray200};
  --#{$prefix}sidebar-navigation-padding-x: 0;
  --#{$prefix}sidebar-navigation-padding-y: 30px;
  --#{$prefix}sidebar-nav-link-height: 48px;
  --#{$prefix}sidebar-nav-link-margin-x: 8px;
  --#{$prefix}sidebar-nav-link-margin-y: 4px;
  --#{$prefix}sidebar-nav-link-padding-x: 56px;
  --#{$prefix}sidebar-nav-link-bg: transparent;
  --#{$prefix}sidebar-nav-link-border-radius: 8px;
  --#{$prefix}sidebar-nav-link-color: #{$gray700};
  --#{$prefix}sidebar-nav-link-active-color: #{$green600};
  --#{$prefix}sidebar-nav-link-hover-bg: #{$gray150};
  --#{$prefix}sidebar-nav-link-hover-color: #{$green600};
  --#{$prefix}sidebar-nav-group-padding-x: 48px;
  --#{$prefix}sidebar-nav-group-items-padding-y: 0;
  --#{$prefix}sidebar-nav-group-items-padding-x: 0;
  --#{$prefix}sidebar-nav-group-menu-button-width: 24px;
  --#{$prefix}sidebar-nav-group-menu-button-height: 24px;

  position: fixed;
  top: #{$layout-occupy-start-top};
  left: 0;
  bottom: 0;
  width: var(--#{$prefix}sidebar-width);
  background-color: var(--#{$prefix}sidebar-bg);
  border-right: var(--#{$prefix}sidebar-border-width) var(--#{$prefix}sidebar-border-style)
    var(--#{$prefix}sidebar-border-color);
  z-index: $zindex-layout-sidebar;

  .navigation {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: var(--#{$prefix}sidebar-navigation-padding-y) var(--#{$prefix}sidebar-navigation-padding-x);
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;

    & .nav__group {
      position: relative;
      margin-top: 5px;
      transition: all 0.15s ease-in-out;

      .menu {
        position: relative;

        .menu-toggle__button {
          position: absolute;
          top: 10px;
          left: 16px;
          width: var(--#{$prefix}sidebar-nav-group-menu-button-width);
          height: var(--#{$prefix}sidebar-nav-group-menu-button-height);
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='-2 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.427 0.427024L3.823 3.82302C3.84628 3.84625 3.86475 3.87383 3.87736 3.90421C3.88996 3.93458 3.89645 3.96714 3.89645 4.00002C3.89645 4.03291 3.88996 4.06547 3.87736 4.09584C3.86475 4.12621 3.84628 4.1538 3.823 4.17702L0.427 7.57302C0.392036 7.60808 0.34745 7.63196 0.298896 7.64164C0.250342 7.65133 0.200005 7.64637 0.154269 7.62742C0.108532 7.60846 0.0694545 7.57635 0.0419902 7.53515C0.0145259 7.49396 -8.81823e-05 7.44553 4.00328e-07 7.39602V0.604024C-8.81823e-05 0.554514 0.0145259 0.506092 0.0419902 0.464898C0.0694545 0.423703 0.108532 0.391591 0.154269 0.372632C0.200005 0.353673 0.250342 0.348722 0.298896 0.358405C0.34745 0.368088 0.392036 0.391971 0.427 0.427024Z' fill='currentcolor'%3E%3C/path%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 6px;
          line-height: 0;
          z-index: 20;

          &:hover {
            background-color: $gray150;
          }
        }
      }

      &-items {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: var(--#{$prefix}sidebar-nav-group-items-padding-y) var(--#{$prefix}sidebar-nav-group-items-padding-x);
        transition: height 0.15s ease-in-out;

        .nav__link {
          padding-left: var(--#{$prefix}sidebar-nav-link-padding-x);
          font-size: 18px;
        }
      }

      &:not(.show) .nav__group-items {
        display: none;
      }

      &.show .menu .menu-toggle__button {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 -2 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.57304 0.427L4.17704 3.823C4.15381 3.84628 4.12623 3.86475 4.09585 3.87736C4.06548 3.88996 4.03292 3.89645 4.00004 3.89645C3.96715 3.89645 3.93459 3.88996 3.90422 3.87736C3.87385 3.86475 3.84626 3.84628 3.82304 3.823L0.427037 0.427C0.391983 0.392035 0.368102 0.34745 0.358418 0.298895C0.348734 0.250341 0.353686 0.200005 0.372645 0.154268C0.391603 0.108532 0.423716 0.0694542 0.46491 0.0419899C0.506104 0.0145256 0.554526 -8.84923e-05 0.604037 9.24929e-08L7.39604 3.89381e-07C7.44555 -8.8191e-05 7.49397 0.0145259 7.53516 0.0419902C7.57636 0.0694545 7.60847 0.108532 7.62743 0.154269C7.64639 0.200005 7.65134 0.250342 7.64166 0.298896C7.63197 0.34745 7.60809 0.392036 7.57304 0.427Z' fill='currentcolor'%3E%3C/path%3E%3C/svg%3E");
      }

      &.show > .menu > .nav__link {
        color: var(--#{$prefix}sidebar-nav-link-active-color);
        font-weight: 700;

        .icon {
          transform: rotate(180deg);
        }
      }
    }

    & .nav__link {
      display: flex;
      align-items: center;
      height: var(--#{$prefix}sidebar-nav-link-height);
      margin: var(--#{$prefix}sidebar-nav-link-margin-y) var(--#{$prefix}sidebar-nav-link-margin-x);
      padding-left: var(--#{$prefix}sidebar-nav-group-padding-x);
      background-color: var(--#{$prefix}sidebar-nav-link-bg);
      border-radius: var(--#{$prefix}sidebar-nav-link-border-radius);
      font-size: 22px;
      font-weight: 600;
      line-height: 26px;
      color: var(--#{$prefix}sidebar-nav-link-color);
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: var(--#{$prefix}sidebar-nav-link-hover-bg);
        color: var(--#{$prefix}sidebar-nav-link-hover-color);
      }

      &.active {
        font-weight: 700;
        color: var(--#{$prefix}sidebar-nav-link-active-color);
      }
    }
  }
}

// Header
.header {
  --#{$prefix}header-width: 100%;
  --#{$prefix}header-height: #{$layout-header-height};
  --#{$prefix}header-bg: hsla(0, 0%, 100%, 0.9);
  --#{$prefix}header-border-width: 2px;
  --#{$prefix}header-border-style: solid;
  --#{$prefix}header-border-color: #{$gray200};
  --#{$prefix}header-color: #{$black};

  position: fixed;
  top: 0;
  width: var(--#{$prefix}header-width);
  height: var(--#{$prefix}header-height);
  background-color: var(--#{$prefix}header-bg);
  border-bottom: var(--#{$prefix}header-border-width) var(--#{$prefix}header-border-style)
    var(--#{$prefix}header-border-color);
  color: var(--#{$prefix}header-color);
  z-index: $zindex-layout-header;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 100%;
  }
}

// Main
.main {
  --#{$prefix}main-padding-y: 20px;
  --#{$prefix}main-padding-left: 25px;
  --#{$prefix}main-padding-right: 10px;

  position: relative;
  margin-top: #{$layout-occupy-start-top};
  margin-left: #{$layout-occupy-start-left};
  padding: var(--#{$prefix}main-padding-y) var(--#{$prefix}main-padding-right) var(--#{$prefix}main-padding-y)
    var(--#{$prefix}main-padding-left);
}
