/* Utilities */

$utilities: () !default;
// prettier-ignore
$utilities: (
  'gap': (
    property: gap,
    values: $root-space,
  ),
  'row-gap': (
    property: row-gap,
    values: $root-space,
  ),
  'column-gap': (
    property: column-gap,
    values: $root-space,
  ),
  'm': (
    property: margin,
    class: m,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'mt': (
    property: margin-top,
    class: mt,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'mr': (
    property: margin-right,
    class: mr,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'mb': (
    property: margin-bottom,
    class: mb,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'ml': (
    property: margin-left,
    class: ml,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'p': (
    property: padding,
    class: p,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'pt': (
    property: padding-top,
    class: pt,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'pr': (
    property: padding-right,
    class: pr,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'pb': (
    property: padding-bottom,
    class: pb,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'pl': (
    property: padding-left,
    class: pl,
    values: map-merge($root-space, (auto: auto,)
    ),
  ),
  'bg': (
    property: background-color,
    class: bg,
    values: $root-color,
  ),
  'display': (
    property: display,
    class: d,
    values: (
      inline: inline,
      inline-block: inline-block,
      block: block,
      inline-flex: inline-flex, 
      flex: flex,
      none: none,
    ),
  ),
  'justify-content': (
    property: justify-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    ),
  ),
  'align-items': (
    property: align-items,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    ),
  ),
);
